.pagination-item a {
    color: #363636;
}

.pagination-item.active_link a {
    color: white !important;
}

.pagination-item {
    margin: 0 4px;
}

.previous-item {
    height: 29px;
    display: flex;
    align-items: center;
    padding: 4px 10px;
}

.next-item {
    height: 29px;
    display: flex;
    align-items: center;
    padding: 4px 10px;
}
